<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- this is where we refer the css file from src/main/resources/static/main.css -->
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<h1 class="mt-2 text-xl" >Bienvenue <a th:text="${user.getUsername()}"></a></h1>
<a href="/">Home</a>
<div th:each="technology : ${user.getTechnologyList()}">
    <div th:each="cpe : ${technology.getCpeList()}">
        <div th:each="cve : ${cpe.getCveList()}">
        <a th:text="${cve}"></a>
        </div>
    </div>
</div>
</body>
</html>
